.App {
  text-align: center;
}

.NonCenteredComponent {
  text-align: left; /* Align children to the left */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Modify the CSS in your App.css file */

.navbar {
  background-color: #000; /* Change background color to black */
  color: #fff; /* Set text color to white */
  padding: 1px;
  text-align: center;
}

.navbar-list {
  list-style: none;
  padding: 0;
}

.navbar-item {
  display: inline-block;
  margin-right: 20px;
  transition: color 0.3s; /* Smooth color transition */
  background: #000; /* Set background color to black */
}

.navbar-item a {
  color: #fff; /* Set text color to white for links */
  text-decoration: none; /* Remove underlines from links */
}

.navbar-item:hover {
  color: #00f; /* Change text color on hover to blue */
  cursor: pointer;
}

